<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

<connectionStrings>
    <add name="Cadena1" connectionString="Data Source=PC1\SQLEXPRESS; Initial Catalog=Vacunas; Integrated security=True;"
        providerName="System.Data.SqlClient" />
    <add name="WindowsFormsApplication1.Properties.Settings.TareaConnectionString"
        connectionString="Data Source=.;Initial Catalog=Tarea;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="WindowsFormsApplication1.Properties.Settings.VacunasConnectionString"
        connectionString="Data Source=.;Initial Catalog=Vacunas;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>

</configuration>